doctype html
html
	head
		title Eduardo Mtnez
	link(rel='stylesheet', href='/css/all.css')
	link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
	link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic")
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='/css/styles.css')
	
	body.page-top
		nav.navbar.navbar-expand-lg.bg-nav.fixed-top.text-uppercase#mainNav
			div.container
				a.navbar-brand(href="#") START BOOTSTRAP
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
					| MENU 
					i.fas.fa-bars
				div.collapse.navbar-collapse#navbarNav
					ul.navbar-nav
						li.nav-item.mx-lg-1
							a.nav-link.py-3.px-lg-3(href="#") Portfolio
						li.nav-item.mx-lg-1
							a.nav-link.py-3.px-lg-3(href="#") About
						li.nav-item.mx-lg-1
							a.nav-link.py-3.px-lg-3(href="#") Contact

		header
			div.container.d-flex.align-items-center.flex-column
				img.img-fluid.mb-5(src="img/logo.svg")
				h1.text-uppercase Start Bootstrap
				div.divider.d-flex.justify-content-center.align-items-center
					div.line
					div.icon
						i.fas.fa-star
					div.line
				p.subtitle Graphic Artist - Web Designer - Illustrator

		section#portfolio
			div.container
				h1.text-center.text-uppercase Portfolio
				div.divider.d-flex.justify-content-center.align-items-center
					div.line
					div.icon
						i.fas.fa-star
					div.line
				div.row
					div.col-md-6.col-lg-4
						div.launcher.mx-auto(data-toggle="modal" data-target="#portfoliomodal1")
							div.portfolio-item.d-flex.justify-content-center.align-items-center
								div.portfolio-icon
									i.fas.fa-plus.fa-3x
							img.img-fluid(src="img/cabin.png")
					div.col-md-6.col-lg-4
						div.launcher.mx-auto(data-toggle="modal" data-target="#portfoliomodal2")
							div.portfolio-item.d-flex.justify-content-center.align-items-center
								div.portfolio-icon
									i.fas.fa-plus.fa-3x
							img.img-fluid(src="img/cake.png")
					div.col-md-6.col-lg-4
						div.launcher.mx-auto(data-toggle="modal" data-target="#portfoliomodal3")
							div.portfolio-item.d-flex.justify-content-center.align-items-center
								div.portfolio-icon
									i.fas.fa-plus.fa-3x
							img.img-fluid(src="img/circus.png")
					div.col-md-6.col-lg-4
						div.launcher.mx-auto(data-toggle="modal" data-target="#portfoliomodal4")
							div.portfolio-item.d-flex.justify-content-center.align-items-center
								div.portfolio-icon
									i.fas.fa-plus.fa-3x
							img.img-fluid(src="img/game.png")
					div.col-md-6.col-lg-4
						div.launcher.mx-auto(data-toggle="modal" data-target="#portfoliomodal5")
							div.portfolio-item.d-flex.justify-content-center.align-items-center
								div.portfolio-icon
									i.fas.fa-plus.fa-3x
							img.img-fluid(src="img/safe.png")
					div.col-md-6.col-lg-4
						div.launcher.mx-auto(data-toggle="modal" data-target="#portfoliomodal6")
							div.portfolio-item.d-flex.justify-content-center.align-items-center
								div.portfolio-icon
									i.fas.fa-plus.fa-3x
							img.img-fluid(src="img/submarine.png")

			div.modal.fade#portfoliomodal1(tabindex="-1" role="dialog" aria-labelledby="portfoliomodal1label" aria-hidden="true")
				div.modal-dialog.modal-xl(role="document")
					div.modal-content
						div.modal-body.text-center
							div.container
								div.row.justify-content-center
									div.col-lg-8
										h2.modal-title.text-uppercase#portfoliomodal1label Log Cabin
										div.divider.d-flex.justify-content-center.align-items-center
											div.line
											div.icon
												i.fas.fa-star
											div.line
										img.img-fluid.rounded.mb-5(src="img/cabin.png")
										p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
										button.btn(type="button" data-dismiss="modal")
											i.fas.fa-times.fa-fw
											|  Close Window
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								i.fas.fa-times
			div.modal.fade#portfoliomodal2(tabindex="-1" role="dialog" aria-labelledby="portfoliomodal2label" aria-hidden="true")
				div.modal-dialog.modal-xl(role="document")
					div.modal-content
						div.modal-body.text-center
							div.container
								div.row.justify-content-center
									div.col-lg-8
										h2.modal-title.text-uppercase#portfoliomodal2label Log Cabin
										div.divider.d-flex.justify-content-center.align-items-center
											div.line
											div.icon
												i.fas.fa-star
											div.line
										img.img-fluid.rounded.mb-5(src="img/cake.png")
										p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
										button.btn(type="button" data-dismiss="modal")
											i.fas.fa-times.fa-fw
											|  Close Window
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								i.fas.fa-times
			div.modal.fade#portfoliomodal3(tabindex="-1" role="dialog" aria-labelledby="portfoliomodal3label" aria-hidden="true")
				div.modal-dialog.modal-xl(role="document")
					div.modal-content
						div.modal-body.text-center
							div.container
								div.row.justify-content-center
									div.col-lg-8
										h2.modal-title.text-uppercase#portfoliomodal3label Log Cabin
										div.divider.d-flex.justify-content-center.align-items-center
											div.line
											div.icon
												i.fas.fa-star
											div.line
										img.img-fluid.rounded.mb-5(src="img/circus.png")
										p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
										button.btn(type="button" data-dismiss="modal")
											i.fas.fa-times.fa-fw
											|  Close Window
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								i.fas.fa-times
			div.modal.fade#portfoliomodal4(tabindex="-1" role="dialog" aria-labelledby="portfoliomodal4label" aria-hidden="true")
				div.modal-dialog.modal-xl(role="document")
					div.modal-content
						div.modal-body.text-center
							div.container
								div.row.justify-content-center
									div.col-lg-8
										h2.modal-title.text-uppercase#portfoliomodal4label Log Cabin
										div.divider.d-flex.justify-content-center.align-items-center
											div.line
											div.icon
												i.fas.fa-star
											div.line
										img.img-fluid.rounded.mb-5(src="img/game.png")
										p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
										button.btn(type="button" data-dismiss="modal")
											i.fas.fa-times.fa-fw
											|  Close Window
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								i.fas.fa-times
			div.modal.fade#portfoliomodal5(tabindex="-1" role="dialog" aria-labelledby="portfoliomodal5label" aria-hidden="true")
				div.modal-dialog.modal-xl(role="document")
					div.modal-content
						div.modal-body.text-center
							div.container
								div.row.justify-content-center
									div.col-lg-8
										h2.modal-title.text-uppercase#portfoliomodal5label Log Cabin
										div.divider.d-flex.justify-content-center.align-items-center
											div.line
											div.icon
												i.fas.fa-star
											div.line
										img.img-fluid.rounded.mb-5(src="img/safe.png")
										p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
										button.btn(type="button" data-dismiss="modal")
											i.fas.fa-times.fa-fw
											|  Close Window
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								i.fas.fa-times
			div.modal.fade#portfoliomodal6(tabindex="-1" role="dialog" aria-labelledby="portfoliomodal6label" aria-hidden="true")
				div.modal-dialog.modal-xl(role="document")
					div.modal-content
						div.modal-body.text-center
							div.container
								div.row.justify-content-center
									div.col-lg-8
										h2.modal-title.text-uppercase#portfoliomodal6label Log Cabin
										div.divider.d-flex.justify-content-center.align-items-center
											div.line
											div.icon
												i.fas.fa-star
											div.line
										img.img-fluid.rounded.mb-5(src="img/submarine.png")
										p.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
										button.btn(type="button" data-dismiss="modal")
											i.fas.fa-times.fa-fw
											|  Close Window
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								i.fas.fa-times
			


		script(src="/js/jquery.min.js")
		script(src="/js/jquery.aesing.min.js")
		script(src="/bootstrap/js/bootstrap.bundle.min.js")
