body{
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 700;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
}

#mainNav {
	background: #2c3e50;
	font-weight: 700;
	padding: 1rem;
}

.navbar-brand, .navbar-nav .nav-link, .navbar-brand:hover {
	color:white;
}

.navbar-collapse {
	float: right;
}

button.navbar-toggler {
	border-radius: .5rem;
	background-color: #1abc9c;
	padding:.8rem; 
	font-size: 80%;
	display: initial;
	color: white!important;
	font-weight: 700;
}
button.navbar-toggler:hover {
	background-color: #148f77!important;
}

.navbar-nav .nav-item .nav-link:hover {
	color:#1abc9c;
}

header {
	background: #1abc9c!important;
	color:white;
	padding-top: calc(6rem + 104px);
	padding-bottom: 6rem;
}

header div img {
	width: 15rem;
}

header h1 {
	font-size: 2.75rem;
	margin-bottom: 0;
	line-height: 3.5rem;
}

.divider {
	margin: 1.25rem 0 1.5rem;
	font-size: 2rem;
}
.divider div:nth-child(2) {
	margin:0 1rem;
}

.line {
	width: 7rem;
	height: .25rem;
	border-radius: 1rem;
	background: white;
}


@media (min-width: 992px) {
	#mainNav .navbar-brand {
	font-size: 1.75em;
	}
	#mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		transition: padding-top .3s, padding-bottom .3s;
	}
	.navbar-expand-lg .navbar-collapse {
		flex-flow: row-reverse;
	}

	header h1 {
		font-size: 4rem;
	}
	.subtitle {
		font-size: 1.5rem;
	}
}